*{
    margin: 0;
    padding: 0;

}


.Heroes-container__Title {
font-size: 1.7vw;
margin:0.5vw 0vw 0vw 42vw;
}

.Heroes-container__Selector select{
    position: fixed;
    margin:2vw 0vw 0vw 20vw;
    width: 50vw;
    height: 4vh;
    font-size: 1vw;
  background-color: rgb(198, 199, 207);
}

#Heroes-container__Send button{
    margin:2vw 0vw 0vw 74vw;
    width: 5vw;
    height: 4.1vh;
    font-size: 1vw;
    background-color: rgb(178, 185, 237);

}

